table {
  margin: 20px 0;
  width: $table-width;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid $table-border-color;
  font-size: $table-font-size;
  table-layout: fixed;
  word-wrap: break-all;
}

caption, th, td {
  padding: $table-cell-padding;
  text-align: $table-content-alignment;
  vertical-align: $table-content-vertical;
  font-weight: normal;
}

th, td {
  border-bottom: 2px solid $table-cell-border-bottom-color;
  border-right: 1px solid $table-cell-border-right-color;
}

th {
  text-align: center;
  padding: 10px 5px;
  font-weight: $table-th-font-weight;
}

td { border-bottom-width: 1px; }

for col in (1..10) {
  th.column-{col} {
    width: (10 * col)%;
  }
}
