$content-desktop = 85%
$code-background = rgba(0, 0, 0, 0.04)
$code-font-size = 12px
$code-border-radius = 2px
$font-size-headings-base = 32px
$font-size-headings-step = 4px
$font-size-headings-smaller = 30px
$line-height-base = 1.5
$gap-between-main-and-footer = 50px
$posts-expand-title-font-weight = bold
