.post-body {
  font-family: $font-family-posts;
  +mobile() {
    word-break: break-word;
  }
}

.post-body kbd {
  margin: 0 3px;
  font-size: 85%;
  overflow: auto;
  white-space: nowrap;
  border: 1px solid rgba(215,215,215,0.6);
  color: #fff;
  background-color: rgba(0,0,0,0.8);
  border-radius: 3px;
  box-shadow: 1px 1px 1px #aaa;
  padding: 2px 8px 3px 8px;
  line-height: 2em;
}

.post-body .fancybox img {
  display: block !important;
  margin: 0 auto;
  cursor: pointer;
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
}

.post-body .image-caption {
  margin: 10px auto 15px;
  text-align: center;
  font-size: $font-size-base;
  color: $grey-dark;
  font-weight: bold;
  line-height: 1;
}

@media (min-width: 768px) {
  .post-body .image-full {
    width: 100%;
  }

  .post-body .image-lg {
    width: 75%;
  }

  .post-body .image-md {
    width: 50%;
  }

  .post-body .image-sm {
    width: 25%;
  }
}

.post-body .figure .caption {
  @extend .post-body .image-caption;
}

.post-sticky-flag {
  display: inline-block;
  font-size: 16px;
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

@import "post-expand";
@import "post-collapse";
@import "post-type";
@import "post-title";
@import "post-meta";
@import "post-more-link";
@import "post-tags";
@import "post-nav";
@import "post-eof";
@import "post-gallery";
@import "post-reward" if hexo-config('alipay') or hexo-config('wechatpay');
